.container{
    text-align: center;
    margin-top:50px
}

table{
    margin:auto;
}

input{
    border-radius: 19px;
    border: 5px solid black;
    font-size:30px;
    height: 65px;
    width: 310px;
    outline: none;
}

button{
    border-radius: 20px;
    font-size: 30px;
    background-color: #e79b17;
    width: 80px;
    height: 70px;
    margin: 4px;
}

.calculator{ 
    border: 5px solid rgb(0, 0, 0);
    background-color:#191b28;
    padding: 18px;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: inline-block;
}

h1{
    font-size: 30px;
    font-family: 'Calibri', Courier, monospace;
    text-align: center;
}
